# workflow for homestead
alias pb='xclip -selection clipboard'
alias audio='sudo killall coreaudiod'
alias vm='ssh vagrant@127.0.0.1 -p 2222'
alias scs='ssh forge@45.55.134.181'
alias sks='ssh forge@158.69.62.78'
alias sk='cd ~/Dropbox/Homestead/Projects/skywayimporters'
alias cl='cd ~/Dropbox/Homestead/Projects/snipcademy/resources/views/code/tutorials/command-line'
alias cm='sc; git add .; git commit -m '
alias runnable='cd ~/Dropbox/Homestead/Projects/snipcademy/resources/views/code/runnable'
alias sc='cd ~/Dropbox/Homestead/Projects/snipcademy'
alias sm='cd ~/Dropbox/Homestead/Projects/studymeow'
alias dt='cd ~/Desktop'
alias db='cd ~/Dropbox'
alias edit='vim + ~/.bash_profile'
alias runnable='cd ~/Dropbox/Homestead/Projects/snipcademy/resources/views/code/runnable'
alias code='cd ~/Dropbox/Homestead/Projects/snipcademy/resources/views/code'
alias binf='cd ~/Dropbox/Homestead/Projects/snipcademy/resources/views/binf'
alias bfx='ssh scho66@bfx.eng.jhu.edu'
alias wn='cd ~/Dropbox/Homestead/Projects/wncho'
alias 'fedora=ssh fedora@192.168.1.84'
alias 'ubuntu=ssh ubuntu@192.168.1.85'
